<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/javascripts/adminManager.js'></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  </head>
  <body>
      <script>
    var socket = io.connect('//' + window.location.host);
    socket.on('news', function(data) {
        console.log(JSON.stringify(data));
        socket.emit('reply', {
            reply: 'odzew klienta'
        });
    });
    </script>
   <div class="span7 text-center" id="menuButtons">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addHorse" aria-expanded="false" aria-controls="collapseExample" id="addHorseButton">
      Add horse
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addUser" aria-expanded="false" aria-controls="collapseExample" id="addUserButton">
      Add user
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addCompetition" aria-expanded="false" aria-controls="collapseExample">
      Add competition
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#startCompetition" aria-expanded="false" aria-controls="collapseExample">
      Start competition
    </button>
    <a href="/signout" class="btn btn-danger" role="button">
      Logout <u>(<%= user.username %>)</u>
    </a>
   </div>
    <div class="collapse" id="addHorse">
      <div class="well">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
              <h1 class="text-center login-title">Add horse
                <div class="signup-wall">
                    <input id="horseName" type="text" name="name" placeholder="Name" required="required" autofocus="autofocus" class="form-control"/>
                    <select id="horseGender" class="form-control" name="gender">
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                    <input id="horseOwner" type="text" name="owner" placeholder="Owner" required="required" class="form-control"/>
                    <input id="horseBorn" type="date" name="born" placeholder="Born" required="required" class="form-control"/>
                    <button id="addHorseButtonForm" type="submit" class="btn btn-lg btn-success btn-block">Add</button><span class="clearfix"></span>
                </div>
              </h1>
              <div id="showAllHorses"></div>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <div class="collapse" id="addUser">
      <div class="well">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
              <h1 class="text-center login-title">Add user
                <div class="signup-wall">
                    <input id="userUsername" type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control"/>
                    <input id="userPassword" type="password" name="password" placeholder="Password" required="required" class="form-control nomargin"/>
                    <input id="userEmail" type="email" name="email" placeholder="Email" required="required" class="form-control"/>
                    <input id="userFirstname" type="text" name="firstName" placeholder="First Name" required="required" class="form-control"/>
                    <input id="userLastname" type="text" name="lastName" placeholder="Last Name" required="required" class="form-control"/>
                    <select id="userRole" class="form-control" name="role">
                        <option value="referee">Referee</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button id="addUserButtonForm" type="submit" class="btn btn-lg btn-success btn-block">Add user</button><span class="clearfix"></span>
                </div>
              </h1>
              <div id="showAllUsers"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="addCompetition">
      <div class="container">
          <div id="competitionDiv">
              <div class="container">
                <input class="form-control input-lg col-lg-3" id="competitionName" type="text" placeholder="Competition Name">
                <div id="competitionStartedDiv"></div>
                <button class="btn btn-info btn-block btn-lg" id="nextButton" type="button">Next</button>
              </div>
          </div>
      </div>
    </div>
    
    <div class="collapse" id="startCompetition">
      <div class="container">
         <div class="well">
          <div id="competitionDiv">
              <div class="container">
               <h1 class="text-center login-title">Start competition
                   <div id="showAllCompetitions"></div>
               </h1>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>