<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/javascripts/adminManager.js'></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  </head>
  <body>
   <div class="span7 text-center" id="menuButtons">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addHorse" aria-expanded="false" aria-controls="collapseExample">
      Add horse
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addUser" aria-expanded="false" aria-controls="collapseExample">
      Add user
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#startCompetition" aria-expanded="false" aria-controls="collapseExample">
      Start competition
    </button>
   </div>
    <div class="collapse" id="addHorse">
      <div class="well">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
              <h1 class="text-center login-title">Add horse
                <div class="signup-wall">
                  <form action="/admin/addHorse" method="POST" class="form-signin">
                    <input type="text" name="name" placeholder="Name" required="required" autofocus="autofocus" class="form-control"/>
                    <select class="form-control" name="gender">
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                    <input type="text" name="owner" placeholder="Owner" required="required" class="form-control"/>
                    <input type="date" name="born" placeholder="Born" required="required" class="form-control"/>
                    <button id="addHorseButton" type="submit" class="btn btn-lg btn-success btn-block">Add</button><span class="clearfix"></span>
                  </form>
                </div>
              </h1>
            </div>
          </div>
        </div>    
      </div>
    </div>
    <div class="collapse" id="addUser">
      <div class="well">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
              <h1 class="text-center login-title">Add user
                <div class="signup-wall">
                  <form action="/signup" method="POST" class="form-signin">
                    <input type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control"/>
                    <input type="password" name="password" placeholder="Password" required="required" class="form-control nomargin"/>
                    <input type="email" name="email" placeholder="Email" required="required" class="form-control"/>
                    <input type="text" name="firstName" placeholder="First Name" required="required" class="form-control"/>
                    <input type="text" name="lastName" placeholder="Last Name" required="required" class="form-control"/>
                    <select class="form-control" name="role">
                        <option value="referee">Referee</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button type="submit" class="btn btn-lg btn-success btn-block">Register</button><span class="clearfix"></span>
                  </form>
                </div>
                <div id="message">
                </div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="startCompetition">
      <div class="well">
        Start competition
      </div>
    </div>
  </body>
</html>