<!doctype html>
<html lang="pl">

<head>
    <title>Viewer</title>
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/javascripts/viewerManager.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src='/socket.io/socket.io.js'></script>
    <script src="bootstrap.js" ></script>
    <script type="text/javascript" src="/jquery.tablesorter.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jq-2.2.3,dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/jq-2.2.3,dt-1.10.12/datatables.min.js"></script>
</head>

<body>


   <div class="panel panel-primary">
    <div id="titleDiv" class="panel-heading">
        <div class="span7 text-center" id="menuButtons">
            <button id="championsButton" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#champions" aria-expanded="false" aria-controls="collapseExample">
              Champions
            </button>
        </div>
    </div>
         <div class="collapse" id="champions">
      <div class="well">
        <div class="container">
          <div class="row">
              <h1 class="text-center login-title">Champions
              <div id="championsDiv"></div>
          </div>
        </div>    
      </div>
    </div>
    
    <div id="results" class="panel-body"></div>
   </div>
    
    <div class="collapse" id="stats">
      <div class="well">
        <div class="container">
          <div class="row">
              <h1 class="text-center login-title">Stats
              <div id="statsDiv" class="text-center"></div>
          </div>
        </div>    
      </div>
    </div>
</body>

</html>